---
import Layout from "@layouts/Layout.astro";

if(Astro.locals.session) {
  return Astro.redirect("/");
}

---

<Layout title="Sign Up">
  <div class="container mx-auto mb-5 max-w-96 border border-gray-300 p-5 rounded-lg">
    <h1 class="text-2xl text-center font-bold">Sign Up</h1>
    <form class="flex flex-col gap-y-4 mt-5" action="/api/signup" method="POST">
      <label class="inline-flex gap-x-3" for="name">
        <span>Name:</span>
        <input class="input input-bordered grow" type="text" id="name" name="name" value="test" required />
      </label>
      <label class="inline-flex gap-x-3" for="lastName">
        <span>Last Name:</span>
        <input class="input input-bordered grow" type="text" id="lastName" name="lastName" value="test" required />
      </label>
      <label class="inline-flex gap-x-3" for="email">
        <span>Email:</span>
        <input class="input input-bordered grow" type="email" id="email" name="email" value="test@test.com" required />
      </label>
      <label class="inline-flex gap-x-3" for="password"
        ><span>Password:</span>
        <input class="input input-bordered grow" type="password" id="password" name="password" value="admin123" required />
      </label>
      <button class="btn" type="submit">Login</button>
    </form>
  </div>
</Layout>
