---
import OrderSummary from "@components/react-components/OrderSummary";
import Breadcrumb from "@components/Breadcrumb/Breadcrumb.astro";
import CartItem from "@components/Products/CartItem.astro";
import { isActionError, actions } from "astro:actions";
import Layout from "@layouts/Layout.astro";

type CartResult = Awaited<ReturnType<typeof actions.getCart>>;
type CartItem = NonNullable<Extract<CartResult, { data: any }>["data"]>[number];

const isAuth = Astro.locals.session;
let joinItems: CartItem[] = [];

if (isAuth) {
  const res = await Astro.callAction(actions.getCart, null);
  if (isActionError(res)) {
    console.error(res.error);
  }

  joinItems = res.data ?? [];
}

export const prerender = false;
---

<Layout
  className="max-w-screen-8xl mx-auto w-full px-4 py-6 border-primary border-t"
  id="cart-page"
>
  <Breadcrumb />
  <h1
    id="cart-items"
    class="text-[clamp(2rem,1.4286rem+1.1905vw,2.5rem)]/[clamp(2rem,1.4286rem+1.1905vw,2.5rem)] text-black font-integral font-bold mt-6 max-nav:mt-2"
  >
    Your Cart
  </h1>
  <div class="mt-6 flex max-nav:flex-col gap-5">
    <!-- ITEMS -->
    <section
      aria-labelledby="cart-items"
      class="border border-primary rounded-3xl nav:px-6 nav:py-5 p-3.5 grow max-h-[calc(100vh-20rem)] max-nav:min-h-36 overflow-y-auto relative"
    >
      <div
        class="text-center text-lg px-2.5 max-nav:text-base opacity-50 cursor-default absolute inset-0 flex flex-col items-center justify-center transition-opacity duration-300"
        style={{
          ...(joinItems.length > 0 && { display: "none" }),
          ...(joinItems.length > 0 && { opacity: 0 })
        }}
        aria-hidden={joinItems.length > 0}
        id="empty_cart"
      >
        <p>Your cart is empty. Don't miss out on our amazing products!</p>
        <div class="inline-flex flex-wrap justify-center gap-x-1">
          <p>Head over to the</p>
          <a
            class="hover:underline font-bold"
            aria-label="Shop page"
            href="/shop"
          >
            Shop
          </a>
          <p class="text-nowrap">and start adding your favorites now.</p>
        </div>
      </div>
      <ul aria-label="product items" class="space-y-6 overflow-x-hidden">
        {
          joinItems.map((item, index) => (
            <li class="rounded-lg" aria-label="item">
              <CartItem
                product_details={item.product_details}
                product={item.product}
                cart={item.cart}
              />
              {joinItems.length === index && <hr class="mt-6 border-primary" />}
            </li>
          ))
        }
      </ul>
    </section>

    <!-- RESUMEN DE LA ORDEN -->
    <OrderSummary client:load />
  </div>
</Layout>
