---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Product">
  <section class="border-t mx-auto py-6 max-w-7xl">
    <div class="breadcrumbs text-sm">
      <ul class="text-primary">
        <li><a aria-label="Go to Home" href="/">Home</a></li>
        <li><a aria-label="Go to Shop" href="/">Shop</a></li>
        <li><a aria-label="Go to Men" href="/">Men</a></li>
        <li class="text-black">T-shirts</li>
      </ul>
    </div>
  </section>
</Layout>
