@font-face {
  font-family: 'IntegralCF-Regular';
  src: url('/fonts/Integralcf/Integralcf-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-Bold';
  src: url('/fonts/Integralcf/Integralcf-bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-BoldOblique';
  src: url('/fonts/Integralcf/Integralcf-boldoblique.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: oblique;
}

@font-face {
  font-family: 'IntegralCF-DemiBold';
  src: url('/fonts/Integralcf/Integralcf-demibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-DemiBoldOblique';
  src: url('/fonts/Integralcf/Integralcf-demiboldoblique.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: oblique;
}

@font-face {
  font-family: 'IntegralCF-ExtraBold';
  src: url('/fonts/Integralcf/Integralcf-extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-ExtraBoldOblique';
  src: url('/fonts/Integralcf/Integralcf-extraboldoblique.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: oblique;
}

@font-face {
  font-family: 'IntegralCF-Heavy';
  src: url('/fonts/Integralcf/Integralcf-heavy.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-HeavyOblique';
  src: url('/fonts/Integralcf/Integralcf-heavyoblique.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: oblique;
}

@font-face {
  font-family: 'IntegralCF-Medium';
  src: url('/fonts/Integralcf/Integralcf-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-MediumOblique';
  src: url('/fonts/Integralcf/Integralcf-mediumoblique.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: oblique;
}

@font-face {
  font-family: 'IntegralCF-RegularOblique';
  src: url('/fonts/Integralcf/Integralcf-regularoblique.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: oblique;
}
