---
import createParts from "@utils/createParts";
import Item from './BItem.astro';

const { class: className } = Astro.props;
export interface BItemIterateProps {
  class?: string;
}

const path: string = Astro.url.pathname;
const parts = createParts(path);
---

{
  parts.map(({ text, href }, index) => {
    const active: boolean = path === href;
    const link = active ? undefined : href;
    const isLast = index === parts.length - 1;
    return (
      <Item class={className} active={active || isLast}>
        {isLast ? (
          decodeURI(text)
        ) : (
          <a href={link} class={className}>
            {text}
          </a>
        )}
      </Item>
    );
  })
}
