---
import Icon from "@icons"
---

<section aria-label="brands-heading" class="py-11 px-4 bg-black w-full inline-flex flex-wrap gap-8 items-center justify-around">
  <Icon.VersageLogo class="max-w-40 max-md:max-w-28" />
  <Icon.ZaraLogo class="max-w-[5.7rem] max-md:max-w-16" />
  <Icon.GucciLogo class="max-w-[9.7rem] max-md:max-w-[6.84rem]" />
  <Icon.PradaLogo class="max-w-48 max-md:max-w-32" />
  <Icon.CalvinKleinLogo class="max-w-52 max-md:max-w-[8.4rem]" />
</section>