---
import ArrowDownIcon from "@assets/chevron-down.svg?raw";
import CartIcon from "@icons/Cart.astro";
import SearchIcon from "@icons/Search.astro";
import UserIcon from "@icons/User.astro";
import { Image } from "astro:assets";
import MobileNav from "@components/react-components/MobileNav";
---

<header
  class="mx-auto my-6 max-w-screen-xl w-full inline-flex gap-x-10 items-center max-nav:justify-between px-5 relative nav:h-12 max-nav:h-6 transition-all"
>
  <!-- MOBILE MENU -->
  <MobileNav client:media="(max-width: 905px)" />
  <!-- MOBILE MENU END -->

  <!-- LOGOTIPO - Envolviendo la imagen en un enlace -->
  <a aria-label="Go to home" href="/">
    <Image
      decoding="sync"
      class="h-5 w-auto"
      alt="Shop.co logo"
      loading="eager"
      src="/logo.svg"
      height={20}
      width={127}
    />
  </a>

  <!-- NAVEGACIÓN PRINCIPAL -->
  <nav class="max-nav:hidden">
    <ul class="inline-flex gap-x-6 items-center text-center">
      <!-- Menú Desplegable "Shop" -->
      <li class="dropdown dropdown-hover">
        <button
          class="inline-flex gap-x-1 items-center"
          tabindex="0"
          aria-haspopup="true"
          aria-expanded="false"
          type="button"
          >Shop <Fragment set:html={ArrowDownIcon} />
        </button>

        <!-- Contenido del Menú Desplegable -->
        <ul
          class="dropdown-content menu bg-base-100 z-[1] w-auto min-w-20 p-2 shadow"
        >
          <li>
            <a
              aria-label="Ir a Item 1"
              role="menuitem"
              class="text-nowrap"
              href="/shop">All</a
            >
          </li>
          <li>
            <a
              aria-label="Ir a Item 2"
              role="menuitem"
              class="text-nowrap"
              href="/">Item 2</a
            >
          </li>
        </ul>
      </li>

      <!-- Otros Enlaces de Navegación -->
      <li><a class="truncate" href="/">On Sale</a></li>
      <li><a class="truncate" href="/">New Arrivals</a></li>
      <li><a class="truncate" href="/">Brands</a></li>
    </ul>
  </nav>
  <!-- NAVEGACIÓN PRINCIPAL END -->

  <!-- Búsqueda -->
  <search
    class="grow inline-flex gap-x-3 bg-[#F0F0F0] rounded-full px-4 py-3 max-nav:hidden"
  >
    <SearchIcon className="text-[#00000050]" />
    <input
      class="bg-transparent focus:outline-none w-full"
      placeholder="Search for products..."
      name="searchbox"
      role="searchbox"
      type="text"
    />
  </search>

  <!-- ICONOS DE ACCIÓN -->
  <nav class="inline-flex gap-x-[14px]">
    <button
      class="nav:absolute nav:opacity-0 opacity-100 nav:transition-opacity duration-1000"
      aria-label="Abrir el buscador"
      type="button"
    >
      <SearchIcon />
    </button>
    <a aria-label="Ir al carrito" href="/">
      <CartIcon />
    </a>
    <a aria-label="Ir a la cuenta" href="/">
      <UserIcon />
    </a>
  </nav>
</header>

<script>
  const dropdowns = document.querySelectorAll(".dropdown button");
  
  dropdowns.forEach((dropdown) => {
    dropdown.addEventListener("mouseover", () => {
      dropdown.ariaExpanded = 'true';
    });
    dropdown.addEventListener("mouseout", () => {
      dropdown.ariaExpanded = 'false';
    });
  });
</script>
