---
import Icon from "@icons";
import { Image } from "astro:assets";
---

<section
  class="bg-[#F2F0F1] w-full flex max-md:flex-col md:justify-around gap-16"
  aria-labelledby="hero-heading"
>
  <div
    class="flex flex-col gap-8 max-md:gap-5 md:pt-11 md:p-[clamp(1.25rem,2.1786rem+-1.9345vw,0.4375rem)] max-md:px-4 max-md:py-10 max-md:pb-0 max-md:max-h-[1200px] md:max-w-[50%]"
  >
    <h1
      class="font-integral font-extrabold text-black md:text-[clamp(2.5rem,0.2143rem+4.7619vw,4.5rem)] md:leading-[clamp(2.5rem,0.2143rem+4.7619vw,4.5rem)] max-md:text-4xl"
      id="hero-heading"
    >
      FIND CLOTHES THAT MATCHES YOUR STYLE
    </h1>
    <p class="text-primary">
      Browse through our diverse range of meticulously crafted garments,
      designed to bring out your individuality and cater to your sense of style.
    </p>
    <a
      href="/shop"
      aria-label="Shop Now"
      class="relative overflow-hidden group bg-black hover:bg-gradient-to-r hover:from-slate-950 hover:to-slate-900 font-medium text-center text-white rounded-full py-4 px-14 md:w-fit transition-all ease-out duration-300"
    >
      <span
        class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-5 rotate-12 group-hover:-translate-x-40 ease"
      ></span>
      <span class="relative">Shop Now</span>
    </a>
    <div class="inline-flex flex-wrap justify-around gap-8 mt-3">
      <span>
        <h5 class="text-black text-4xl font-bold">200+</h5>
        <p class="text-primary">International Brands</p>
      </span>
      <span>
        <h5 class="text-black text-4xl font-bold">2,000+</h5>
        <p class="text-primary">High-Quality Products</p>
      </span>
      <span>
        <h5 class="text-black text-4xl font-bold">30,000+</h5>
        <p class="text-primary">Happy Customers</p>
      </span>
    </div>
  </div>
  <span class="relative flex flex-col">
    <Icon.Starlight class="absolute left-4 top-1/2 z-10" aria-hidden="true" />
    <Image
      alt="Decorative hero pattern displaying fashion elements"
      class="md:mx-auto mt-auto w-auto"
      src="/imgs/hero-pattern.webp"
      decoding="sync"
      loading="eager"
      width={100}
      height={200}
    />
    <Icon.Starlight class="absolute md:top-16 top-0 right-5 !w-[104px] z-10" />
  </span>
</section>
