---
const { class: className, itemClass, max, min, id, defaultValue } = Astro.props;
---

<div
  class:list={["bg-primary rounded-full h-full text-2xl px-3 py-2", className]}
>
  <label for="quantity" class="sr-only"> Quantity </label>
  <div class="flex items-center gap-2">
    <button
      type="button"
      class="min-w-5 text-black"
      aria-label="Decrease quantity"
    >
      -
    </button>
    <input
      id={id}
      type="number"
      autocomplete="off"
      name={id || "quantity"}
      class:list={[
        "text-center bg-transparent rounded-md text-base",
        itemClass
      ]}
      max={max || "99"}
      min={min || "1"}
      value={defaultValue || "1"}
      aria-label="Quantity"
    />
    <button
      type="button"
      class="min-w-5 text-black"
      aria-label="Increase quantity"
    >
      +
    </button>
  </div>
</div>

<style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>

<script>
  document.addEventListener("astro:page-load", async () => {
    // Wait for the element to be rendered
    await new Promise((resolve) => setTimeout(resolve, 50));

    // Get the elements
    const quantity = document.querySelector('input[name="quantity"]') as HTMLInputElement;
    if (!quantity) return console.error("Element not found");

    const decrease = quantity.previousElementSibling!;
    const increase = quantity.nextElementSibling!;

    // Get the max and min values
    // This is because the values could be changed by other scripts
    const getMax = () => Number(quantity.max);
    const getMin = () => Number(quantity.min);

    decrease.addEventListener("click", () => {
      if (Number(quantity.value) <= getMin()) return;
      if (Number(quantity.value) > 1) {
        quantity.value = String(parseInt(quantity.value) - 1);
      }
    });

    increase.addEventListener("click", () => {
      if (Number(quantity.value) >= getMax()) return;
      quantity.value = String(parseInt(quantity.value) + 1);
    });

    quantity.addEventListener("change", () => {
      if (Number(quantity.value) > getMax()) {
        quantity.value = String(getMax());
      } else if (Number(quantity.value) < getMin()) {
        quantity.value = String(getMin());
      }
    });
  });
</script>
