---
import getPageNumbers from "@utils/getPageNumbers";

export interface PaginatorProps extends PaginatorType {}

const pagination = Astro.props as PaginatorProps;
const pages = getPageNumbers({ ...pagination, maxVisiblePages: 5 });
---

<footer class="col-span-2 col-start-2 row-start-5">
  <hr class="mt-8" />
  <div class="inline-flex w-full items-center justify-between mt-5">
    <!-- Bot칩n Anterior -->
    <button
      id="paginator__prev"
      class="py-2 px-4 border rounded-lg inline-flex gap-x-2 items-center h-fit max-md:text-sm max-md:px-2 max-md:py-1.5"
      type="button"
    >
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        xmlns="http://www.w3.org/2000/svg"
        class="max-md:hidden"
      >
        <path
          d="M12.8332 6.99996H1.1665M1.1665 6.99996L6.99984 12.8333M1.1665 6.99996L6.99984 1.16663"
          stroke="black"
          stroke-width="1.67"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      Previous
    </button>

    <!-- Botones de P치ginas -->
    <nav
      data-current={pagination.currentPage}
      data-total={pagination.totalPages}
      id="paginator__container"
      aria-label="page paginator"
      class="inline-flex mx-auto gap-1.5"
      aria-hidden="true"
    >
      {
        pages.map((page, index) =>
          typeof page === "number" ? (
            <button
              class:list={[
                { active: pagination.currentPage === page },
                "shadow-md",
                "w-10",
                "h-10",
                "max-md:w-[34px]",
                "max-md:h-[34px]",
                "max-md:text-sm",
                "rounded-md"
              ]}
              aria-label={`Pagina ${page}`}
            >
              {page}
            </button>
          ) : (
            <button
              class="btn-disabled cursor-default"
              aria-label="P치ginas omitidas"
              disabled
            >
              ...
            </button>
          )
        )
      }
    </nav>

    <!-- Bot칩n Siguiente -->
    <button
      id="paginator__next"
      class="py-2 px-4 border rounded-lg inline-flex gap-x-2 items-center h-fit max-md:text-sm max-md:px-2 max-md:py-1.5"
      type="button"
    >
      Next
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        xmlns="http://www.w3.org/2000/svg"
        class="max-md:hidden"
      >
        <path
          d="M1.1665 6.99996H12.8332M12.8332 6.99996L6.99984 1.16663M12.8332 6.99996L6.99984 12.8333"
          stroke="black"
          stroke-width="1.67"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
</footer>

<script src="@scripts/paginator.ts"></script>
